@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100vh;
}

#left {
    font-size: 0.7em;
    font-weight: 100;
}

#fixedList {
    font-size: 1.3em;
    font-weight: 500;
}

/* ----------------------------------------------------------scrollbar sinistra---------------------------------------------------------- */
.scroller {
    height: 55vh;
    overflow: auto;

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #00000000;
}

::-webkit-scrollbar-thumb {
    background: #4d4d4d;
}

::-webkit-scrollbar-thumb:hover {
    background: #4d4d4dad;
}

/* ----------------------------------------------------------scrollbar middle---------------------------------------------------------- */
#middle {
    height: 100vh;
    overflow: auto;
}

#section_2 {
    padding-bottom: 100px !important;
}

/* ----------------------------------------------------------parte centrale---------------------------------------------------------- */
main {
    width: 100%;
    height: 100vh;
}


main #section_1 .arrow {
    padding: 10px 0;
    margin-top: 10px;
}

.btn-rounded {
    border-radius: 60px;
    background-color: black;
    color: white;
    padding: 10px 20px;
}

.btn-rounded img {
    margin-right: 0;
    margin-bottom: -0.15em;
}

main #section_1 .contenitore_saluto_icone--icone {
    display: none;
}

main #section_1 p {
    font-size: 1.2rem;
}

main #section_1>p {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 20px 0;
}

main #section_1 .album_in_evidenza {
    border-radius: 5px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
}

main #section_1 .album_in_evidenza img {
    max-height: 200px;
    display: flex;
    align-self: center;
    padding: 2px;
}

main #section_1 .album_in_evidenza .img_testi {
    display: flex;
}

.testi p:first-child {
    text-transform: uppercase;
    font-size: 0.7rem;
}

.testi p:nth-child(2) {
    font-size: 2.2rem;
    font-weight: 700;
}

.pulsanti {
    padding: 10px 0px;
}

.pulsanti .menu_pulsanti {
    font-size: 45px;
    font-weight: 10px;
    color: white;

}

.pulsante_play,
.pulsante_salva {
    padding: 15px 35px;
    font-weight: 700;
    border-radius: 50px;
    text-decoration: none;
    font-size: 0.8rem;
}

.pulsante_play {
    margin-right: 5px;
    color: #000;
    background-color: #1ed760;
}

.pulsante_salva {
    margin-right: 10px;
    border: 1px solid #4f4f4f;
    color: white;
}

.btn-sm {
    height: 25px;
    padding: 0.40rem 0rem;
    font-size: 0.875rem;
}

.album_in_evidenza .testi .pulsanti .span_autore_singolo_in_evidenza {
    padding: 3px;
    font-size: 1.2rem;
    letter-spacing: 1.7px;
}

.album_in_evidenza .nascondi {
    padding: 20px 10px;
    text-transform: uppercase;
    color: #686868;
    font-size: 0.7rem;
}

.preferiti {
    display: flex;
    flex-wrap: wrap;
}

.preferiti .tre_in_alto,
.preferiti .tre_in_basso {
    display: flex;
}

.preferiti .preferito {
    width: 32%;
    background-color: #2c2c2c;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
}

main #section_1 .preferiti .preferito img {
    width: 25%;
    max-width: 100px;
    padding: 2px;
}

main #section_1 .preferiti .preferito .testi {
    padding: 5px 10px;
}

main #section_2 .testi {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.testi p {
    font-weight: 700;
}

.testi span {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #686868;
}

.altri_preferiti {
    display: flex;
}

.altro_preferito {
    width: 20%;
    background-color: #171717;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.altro_preferito .riga-sotto {
    display: none;
}

.altro_preferito img {
    width: 100%;
}

.altro_preferito p,
.altro_preferito span {
    font-size: 0.8rem;
}

.altro_preferito span {
    color: #686868;
}

#saluto {
    padding-left: 0.9em;
    margin-bottom: 0;
    padding-top: 1em;
    font-weight: 700;
}

/* ----------------------------------------------------------barra laterale destra---------------------------------------------------------- */
.attivitaAmiciNome {
    font-weight: bold;
    font-size: 13px;
}

.attivitaAmici {
    font-size: 11px;
}

.attivitaAmiciOre {
    font-size: 10px;
}

/* ----------------------------------------------------------Cards rettangolari fisse---------------------------------------------------------- */
.gallery-card-vertical {
    height: 50px;
    width: 300px;
    font-size: 11px;
    display: flex;
    align-items: center;
    background-color: rgba(112, 112, 112, 0.226);
    margin: 8px;
}

.gallery-card-vertical-img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

/* ----------------------------------------------------------CARDS effetto hoover---------------------------------------------------------- */
.cardsHome .item {
    height: 100%;
    padding: 10px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.cardsHome .item:hover {
    background-color: #252525;
}

.cardsHome .item img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.cardsHome .item .play {
    position: relative;
}

.cardsHome .item .play .bi-play-fill {
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 0em 0.25em;
    background-color: #1db954;
    font-size: 1.5em;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
}

.cardsHome .item:hover .play .bi-play-fill {
    opacity: 1;
    transform: translateY(-20px);
}

.cardsHome .item h4 {
    font-size: 15px;
    margin-bottom: 10px;
}

.cardsHome .item p {
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
}

/* ----------------------------------------------------------player---------------------------------------------------------- */
i {
    cursor: pointer;
}

.playbar {
    color: white;
}

.playbar {
    width: 20em;
    margin: 0 0.5em;
    border: solid 0.12em lightgrey;
    border-radius: 10%;
}

@media screen and (max-width: 576px) {
    .playbar {
        width: 10em;
    }
}

#player-small {
    bottom: 5%;
    width: 97%;
}


/* ----------------------------------------------------------album page---------------------------------------------------------- */
.middleAlbumPage {
    width: auto;
    background-color: #caae48;
}

.album__body p img {
    width: 20px;
    height: 20px;
    border-radius: 80px;
}

.artist__info {
    font-size: 0.5rem;
}

.user__Bar img,
.artist__info img {
    width: 20px;
    height: 20px;
}

.user__BarAlbumPage {
    background-color: #caae48;
}

.arrow__Btns i {
    font-size: 14px;
    padding: 0;
}

.container-fluid .bi-play-circle {
    font-size: 40px;
}

.container-fluid {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3967517401392111) 0%, rgba(0, 0, 0, 1) 25%);
}

.bi-play-circle-fill {
    width: 40px;
}

.div__container {
    width: 97%;
}

@media only screen and (max-width: 576px) {

    .song__title,
    .song__ripro,
    .bi-clock,
    .bi-play-circle-fill,
    .ripro__numb,
    .song__time,
    .album__album,
    .anno__ril,
    .three__dots {
        display: none;
    }

    .artist__title {
        width: 100% !important;
        font-size: 1.4rem;
    }

    .album__body {
        flex-direction: column;
    }

    .artist__info {
        display: flex;
        flex-direction: column;
    }

    .album__img {
        width: 270px;
        margin-left: 30px !important;
    }

}